# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Yarn (not used in this project)
yarn.lock
.yarn
.yarnrc.yml

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
